.cabeçalho
{ background-color: lightgreen;
color:darkblue;
}
.principal{
background-color:  yellow;
color:black;
}
.rodape{
background-color:black;
color:red;
text-align: center;
}

#Ronaldo Fenômeno{
width: 600px;
}