 .cabeçalho
    background-color: purple;
    color:lightblue;
}
.principal{
    background-color:  yellow;
    color:black;
}
.rodape{
    background-color:black;
    color:mediumslateblue;
    text-align: center;
}

#MessiCareca{
    width: 600px;
}